/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    background-image: url('../img/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
} */

/* .register-item {
    width: 100%;
    
    margin-bottom: 20px;
} */
/* .register-button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
} */

/* .icon-eye {
    cursor: pointer;
} */

/* .ion-valid {
    border-color: green;
  } */
  
  /* .ion-invalid {
    border-color: red;
  } */

/* .login-links{
    font-size: 20px;
} */